* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  height: 100%;
  background-color: #EAF4EC;
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}

section {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.logo-c3-footer {
  width: auto;
  height: 40px;
  opacity: .6;
}

@media (max-width: 480px) {
  .logo-c3-footer {
    height: 24px;
  }
}

.scrolldown {
  position: absolute;
  z-index: 999;
  bottom: 5vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.scrolldown svg {
  width: auto;
  height: 32px;
  fill: #5e6360;
}

@media (max-width: 480px) {
  .scrolldown svg {
    height: 24px;
  }
}

.title {
  font-family: 'Helvetica Neue';
  font-size: 1.0625rem;
  font-weight: 300;
  letter-spacing: 3.91px;
}

@media (max-width: 480px) {
  .title {
    font-size: 0.75rem;
  }
}

.headline {
  font-family: 'Sackers Gothic Std';
  font-size: 2.6875rem;
  font-weight: 900;
  line-height: 32.42px;
}

@media (max-width: 480px) {
  .headline {
    font-size: 1.5rem;
    line-height: 1rem;
  }
}

.description {
  font-family: 'Sukhumvit Set';
  font-size: 1.875rem;
  font-weight: 100;
  line-height: 42px;
}

@media (max-width: 1024px) {
  .description {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 480px) {
  .description {
    font-size: .9rem;
    line-height: 1.2rem;
  }
}

#section-1 {
  position: relative;
  overflow: hidden;
}

#section-1 #sound-btn {
  position: absolute;
  z-index: 999;
  width: 24px;
  height: 24px;
  right: 1%;
  top: 1%;
  opacity: 0.6;
}

#section-1 .video-head-lg {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  visibility: visible;
}

@media (max-width: 1440px) {
  #section-1 .video-head-lg {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 1024px) {
  #section-1 .video-head-lg {
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  #section-1 .video-head-lg {
    visibility: hidden;
  }
}

#section-1 .video-head-sm {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  width: 100%;
}

@media (max-width: 1024px) {
  #section-1 .video-head-sm {
    visibility: visible;
  }
}

@media (max-width: 480px) {
  #section-1 .video-head-sm {
    visibility: visible;
    height: 100%;
    width: auto;
  }
}

#section-2 {
  background-image: url(../img/pexels-ksenia-chernaya-3965543bw.jpg);
  background-size: cover;
  position: relative;
}

#section-2 .scrolldown svg {
  fill: #fff;
}

#section-2 .about-c3 {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #EAF4EC;
  width: 70.5%;
  padding: 80px;
  text-align: center;
}

@media (max-width: 1440px) {
  #section-2 .about-c3 {
    padding: 5% 5%;
    width: 90%;
  }
}

@media (max-width: 1024px) {
  #section-2 .about-c3 {
    width: 80%;
    margin: auto;
    padding: 40px;
  }
}

@media (max-width: 480px) {
  #section-2 .about-c3 {
    padding: 40px 20px;
  }
}

#section-2 .title, #section-2 .headline, #section-2 .description {
  max-width: 1068px;
  margin: auto;
  margin-bottom: 5rem;
}

@media (max-width: 1440px) {
  #section-2 .title, #section-2 .headline, #section-2 .description {
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  #section-2 .title, #section-2 .headline, #section-2 .description {
    margin-bottom: 2rem;
  }
}

#section-3 {
  position: relative;
  overflow: hidden;
  background: #000;
}

#section-3 .overlay-text {
  background: #eaf4ec;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 4;
}

#section-3 .overlay-text .text {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Sackers Gothic Std';
  font-weight: 900;
  font-size: 12rem;
  line-height: 1;
}

#section-3 .overlay-text:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 350px;
  top: -349px;
  background: #eaf4ec;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 244, 236, 0)), to(#eaf4ec));
  background: linear-gradient(180deg, rgba(234, 244, 236, 0) 0%, #eaf4ec 100%);
}

#section-3 .top-row {
  position: absolute;
  z-index: 2;
  top: 3%;
  background-image: url(../img/top-row.png);
  height: 762px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#section-3 .bottom-row {
  position: absolute;
  z-index: 3;
  bottom: -5px;
  background-image: url(../img/bottom-row.png);
  height: 751px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#section-3:after {
  content: " ";
  width: 100%;
  height: 50%;
  display: block;
  background-color: #000;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 1440px) {
  #section-3 .text {
    font-size: 10rem !important;
  }
}

@media (max-width: 1024px) {
  #section-3 .text {
    font-size: 12vw !important;
    line-height: 1 !important;
  }
  #section-3 .top-row {
    background-image: url(../img/Artists-up.png);
    height: 70vh;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #section-3 .bottom-row {
    background-image: url(../img/Artists-down.png);
    height: 70vh;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 480px) {
  #section-3 .top-row {
    background-image: url(../img/Artists-up.png);
    height: 70vh;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 130%;
  }
  #section-3 .bottom-row {
    background-image: url(../img/Artists-down.png);
    height: 70vh;
    width: 100%;
    background-position: center 8vh;
    background-repeat: no-repeat;
    background-size: 130%;
  }
}

#section-4 {
  background-image: url(../img/bottle.png);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  background-color: #fff;
  position: relative;
}

@media (max-width: 1024px) {
  #section-4 {
    background-size: 100%;
  }
}

@media (max-width: 480px) {
  #section-4 {
    background-size: 140%;
  }
}

#section-4 .sustainability {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70.5%;
  padding: 80px;
  text-align: center;
}

@media (max-width: 1440px) {
  #section-4 .sustainability {
    padding: 5% 5%;
    width: 90%;
  }
}

@media (max-width: 1024px) {
  #section-4 .sustainability {
    width: 80%;
    margin: auto;
    padding: 0;
  }
}

#section-4 .sustainability .title, #section-4 .sustainability .headline, #section-4 .sustainability .description {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 5rem;
}

@media (max-width: 1440px) {
  #section-4 .sustainability .title, #section-4 .sustainability .headline, #section-4 .sustainability .description {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1024px) {
  #section-4 .sustainability .title, #section-4 .sustainability .headline, #section-4 .sustainability .description {
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  #section-4 .sustainability .title, #section-4 .sustainability .headline, #section-4 .sustainability .description {
    margin-bottom: 3rem;
  }
}

#section-5 {
  background-image: url(../img/pexels-ksenia-chernaya-3965540.jpg);
  background-size: cover;
  position: relative;
  background-position: top center;
}

@media (max-width: 1024px) {
  #section-5 {
    background-size: 200%;
  }
}

#section-6 {
  position: relative;
  background: #eaf4ec;
  text-align: center;
}

#section-6 .social-wrap {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#section-6 .social-wrap p {
  font-family: 'Helvetica Neue';
}

#section-6 .social-wrap .logo-c3-footer {
  opacity: 1;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#section-6 h1 {
  font-family: 'Sackers Gothic Std';
  font-weight: 900;
  font-size: 6vw;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -10px;
}

#section-6 h2 {
  font-size: 4.875rem;
  font-family: 'Sukhumvit Set';
  font-weight: 300;
}

#section-6 .social-list {
  text-align: left;
  margin: auto;
  font-family: 'Helvetica Neue';
  font-size: 32px;
  font-weight: 300;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

#section-6 .social-list ul {
  margin: auto;
  width: 100%;
  list-style: none;
  text-align: center;
}

#section-6 .social-list ul li {
  padding-bottom: 20px;
  display: inline-block;
  text-align: center;
  margin-left: 3vw;
  margin-right: 3vw;
  line-height: 1.3;
}

#section-6 .social-list ul li span {
  font-weight: 100;
}

#section-6 .social-list img {
  width: 48px;
  height: auto;
  vertical-align: middle;
}

#section-6 .social-list a {
  text-decoration: unset;
  color: #000;
}

#section-6 .social-list a:hover {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  #section-6 .social-wrap {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  #section-6 .social-wrap {
    width: 100%;
  }
  #section-6 .social-wrap .logo-c3-footer {
    margin-top: 0;
    margin-bottom: 5vh;
  }
  #section-6 .social-list {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  #section-6 h1 {
    font-size: 3rem;
    font-size: 9vw;
    letter-spacing: -1px;
  }
  #section-6 h2 {
    font-size: 10vw;
  }
  #section-6 li p {
    font-size: 1.2rem;
  }
  #section-6 li a {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  #section-6 .social-wrap {
    padding: 5%;
  }
  #section-6 .social-list {
    margin-top: 10vh;
  }
  #section-6 .social-list ul li {
    display: list-item;
  }
}
/*# sourceMappingURL=stylesheet.css.map */